Repository jwillikers/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, yamllint

just:
  entry: just --fmt --unstable
  language: system
  name: just
  pass_filenames: false

yamllint:
  entry: nix develop --command yamllint
  language: system
  name: yamllint
  pass_filenames: true

Fix link
  _posts/2020-12-11-Create a Windows 10 USB on Ubuntu.adoc
Due: none

Perform some minor clean up
  .justfile
  flake.nix
  update-nix-direnv.nu
Due: just

Run nix flake update after updating the release
  .github/workflows/update-nixos-release.yaml
Due: yamllint

Run flake lock updater twice a month
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Set reviewer for flake lock updates
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Revert "Set reviewer for flake lock updates"
  .github/workflows/flake-lock-updater.yaml
Due: yamllint

Use the latest Nushell version and add newline to file
  flake.lock
  flake.nix
  update-nix-direnv.nu
Due: none

Fix update-nixos-release
  update-nixos-release.nu
Due: none

chore(deps): Update NixOS release
  flake.lock
Due: none

Don't run flake update unless necessary
  .github/workflows/update-nixos-release.yaml
Due: yamllint

Fix some links
  .github/workflows/link-checker.yaml
  _pages/about.adoc
  _posts/2020-10-26-Grow Disk Space on a CentOS 7 VM Using QEMU, LVM, and XFS.adoc
  _posts/2020-12-04-Git and GPG/2020-12-04-Git and GPG.adoc
  _posts/2021-02-11-Why Choose Btrfs.adoc
  _posts/2021-02-12-Power Management on Linux With TLP.adoc
  lychee.toml
Due: yamllint

Always save the cache
  .github/workflows/link-checker.yaml
Due: yamllint

Ignore CentOS website
  lychee.toml
Due: none

Revert "Always save the cache"
  .github/workflows/link-checker.yaml
Due: yamllint

Use update-nix-direnv from the nix-update-scripts repository
  .github/workflows/test-update-nix-direnv.yaml
  .github/workflows/test-update-nixos-release.yaml
  .justfile
  flake.lock
  flake.nix
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
  update-nixos-release-tests.nu
  update-nixos-release.nu
Due: just, yamllint

Update nix direnv action
  .github/workflows/update-nix-direnv.yaml
Due: yamllint

Update paths for actions
  .github/workflows/build.yaml
  .github/workflows/flake-checker.yaml
  .github/workflows/github-pages.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/yamllint.yaml
Due: yamllint

Add paths for treefmt action
  .github/workflows/treefmt.yaml
Due: yamllint

Take lychee.toml into account for link checker
  .github/workflows/link-checker.yaml
Due: yamllint

Ignore bcachefs website as it is currently down
  .vscode/settings.json
  lychee.toml
Due: none

Fix typo
  .github/workflows/link-checker.yaml
Due: yamllint

Define GitHub repository settings in settings.yml
  .editorconfig
  .github/settings.yml
  .vscode/settings.json
Due: yamllint

Move nativeBuildInputs to devShell
  flake.nix
Due: none

Fix bundle update
  .bundle/config
  .github/workflows/bundler-update.yaml
  .justfile
  .ruby-version
  flake.nix
Due: just, yamllint

chore(deps): Update Gem lock file
  Gemfile.lock
  gemset.nix
Due: none

Remove runtimeInputs
  flake.nix
Due: none

Refactor flake
  flake.lock
  flake.nix
  package.nix
  pre-commit-hooks.nix
  treefmt.nix
Due: none

Ignore flatpak.org and gnome.org
  lychee.toml
Due: none

Exclude files from VSCode watcher
  .vscode/settings.json
Due: none

Improve Nix package
  package.nix
Due: none

Remove nil from dev shell
  flake.nix
Due: none

Update justfile
  .justfile
Due: just

Fix the update-nixos-release script
  .github/workflows/update-nix-direnv.yaml
  .github/workflows/update-nixos-release.yaml
Due: yamllint

Run build hooks
  package.nix
Due: none

Port Bash script to Nushell
  flake.nix
Due: none

Use double quotes
  .justfile
Due: just

Inherit once
  flake.nix
Due: none

Use pkgs.lib.getExe
  pre-commit-hooks.nix
Due: none

Fix pre-commit
  pre-commit-hooks.nix
Due: none

Path conditions:
  just: any of: (?x)^(
  \.justfile|
  justfile
)$

  yamllint: any of: \.(yaml|yml)$
