Repository jwillikers/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ^.vscode/.*\.json$
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: just
        entry: just --fmt --unstable
        files: |
          (?x)^(
            \.justfile|
            justfile
          )$
        language: system
        name: just
        pass_filenames: false
      - id: yamllint
        entry: nix develop --command yamllint
        language: system
        name: yamllint
        pass_filenames: true
        types: [file, yaml]

Run pre-commit hooks
  CNAME
  CODE_OF_CONDUCT.adoc
  _data/navigation.yml
  _drafts/2020-09-19-KeePassXC Setup.adoc
  _drafts/Automount an Encrypted Volume as a Regular Old User.adoc
  _drafts/Backup User Snapper Snapshots.adoc
  _drafts/Object Detection With Raspberry Pi.adoc
  _drafts/local_zfs_backups.adoc
  _drafts/netbsd_ata_security_erase.adoc
  _includes/custom-head.html
  _includes/footer.html
  _posts/2020-10-24-Generate an SSH Key/2020-10-24-Generate an SSH Key.adoc
  _posts/2020-10-29-Fresh fish on CentOS 7.adoc
  _posts/2020-10-29-Install Git From Source on CentOS 7.adoc
  _posts/2020-12-07-Backup Git Repositories/update_git_mirrors.fish
  _posts/2020-12-11-Create a Windows 10 USB on Ubuntu.adoc
  _posts/2021-01-01-GNOME Keyring in KDE Plasma.adoc
  _posts/2021-02-11-Btrfs Swapfile.adoc
  _posts/2021-02-11-Why Choose Btrfs.adoc
  _posts/2021-02-15-Btrfs Snapshot Management With Snapper/2021-02-15-Btrfs Snapshot Management With Snapper.adoc
  _posts/2021-02-15-Btrfs Snapshot Management With Snapper/home_jordan
  _posts/2021-02-15-Btrfs Snapshot Management With Snapper/root
  _posts/2021-02-22-Adjust Mount Options.adoc
  _posts/2021-02-22-Encrypt an External Disk on Linux.adoc
  _posts/2021-02-23-Install udisks2 From Source.adoc
  _posts/2021-02-25-Automount an Encrypted System Volume.adoc
  _posts/2021-02-27-Backup Snapper Snapshots With snap-sync.adoc
  _posts/2021-02-28-Install Podman on Ubuntu.adoc
  _posts/2021-03-03-Install libvirt on elementary OS 5.1.adoc
  _posts/2021-03-04-GNOME Boxes on Btrfs.adoc
  _posts/2021-03-18-A Podman Pod as a systemd Service.adoc
  assets/css/asciidoctor.css
Due: yamllint

Better refine when builds happen
  .github/workflows/build.yaml
  .github/workflows/github-pages.yaml
Due: yamllint

Remove comments from flake.nix
  flake.nix
Due: none

Automatically update NixOS release
  .github/workflows/test-nushell.yaml
  .github/workflows/update-nixos-release.yaml
  .justfile
  update-nixos-release-tests.nu
  update-nixos-release.nu
Due: just, yamllint

Add just command for running tests
  .justfile
Due: just

Update GitHub Actions
  .github/workflows/github-pages.yaml
Due: yamllint

Add badge for CI deployment job
  README.adoc
Due: none

Use a placeholder for a Codeberg Font Awesome icon
  _config.yml
Due: yamllint

Implement treefmt and git-hooks.nix
  .editorconfig
  .github/workflows/format-just.yaml
  .github/workflows/pre-commit-autoupdate.yaml
  .github/workflows/test-nushell.yaml
  .github/workflows/test-update-nixos-release.yaml
  .github/workflows/treefmt.yaml
  .github/workflows/yamllint.yaml
  .gitignore
  .justfile
  .pre-commit-config.yaml
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  .yamlfmt.yaml
  README.adoc
  _config.yml
  _includes/footer.html
  assets/css/asciidoctor.css
  default.nix
  flake.lock
  flake.nix
  gemset.nix
Due: just, yamllint

Disable Antora support
  .vscode/settings.json
Due: none

Use editorconfig-checker as part of treefmt
  .editorconfig
  flake.nix
Due: none

Fix editorconfig-checker errors
  _posts/2020-12-07-Backup Git Repositories/update_git_mirrors.fish
  update-nixos-release-tests.nu
  update-nixos-release.nu
Due: none

Fix typos
  .typos.toml
  .vscode/extensions.json
  _drafts/dependency_management_for_ruby.adoc
  _posts/2020-03-28-Unbound Adblock.adoc
  _posts/2020-05-24-OpenSMTPD Ubuntu.adoc
  _posts/2020-05-25-Automatically Detect and Report Hard Drive Failure.adoc
  _posts/2020-10-02-"Too Many Open Files" on macOS when Compiling.adoc
  _posts/2020-10-08-Solarized Vim.adoc
  _posts/2021-02-13-Btrfs Layout.adoc
Due: none

Use editorconfig-checker via pre-commit
  flake.nix
Due: none

Make strip-location-metadata a pre-commit hook
  flake.nix
Due: none

Fix
  flake.nix
Due: none

Automatically update nix-direnv
  .editorconfig
  .github/workflows/test-update-nix-direnv.yaml
  .github/workflows/update-nix-direnv.yaml
  .justfile
  update-nix-direnv-tests.nu
  update-nix-direnv.nu
  update-nixos-release.nu
Due: just, yamllint

Fix treefmt in CI
  .github/workflows/treefmt.yaml
Due: yamllint

Fix typos in images
  .ignore
Due: none

Enable deadnix
  flake.nix
Due: none

Properly ignore image files for spelling corrections
  .ignore
  flake.nix
Due: none

Enable fish_indent
  flake.nix
Due: none

Use the Nix IDE VSCode extension
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Enable statix
  flake.nix
Due: none

Enable Nil
  flake.nix
Due: none

Enable more pre-commit checks
  .github/workflows/flake-lock-updater.yaml
  .yamllint.yaml
  flake.nix
Due: yamllint

Find broken links with lychee
  .github/workflows/link-checker.yaml
  .gitignore
  .justfile
  _config.yml
  _drafts/Automount an Encrypted Volume as a Regular Old User.adoc
  _drafts/Backup User Snapper Snapshots.adoc
  _pages/about.adoc
  _posts/2020-03-28-DNSSEC With Unbound.adoc
  _posts/2020-05-25-Automatically Detect and Report Hard Drive Failure.adoc
  _posts/2020-06-30-Install ZFS on the Pinebook Pro.adoc
  _posts/2020-07-03-External Storage on the Pinebook Pro With ZFS.adoc
  _posts/2020-09-04-Update U-Boot on the PinePhone.adoc
  _posts/2020-09-13-Easily Virtualize Ubuntu MATE on macOS With Multipass/2020-09-13-Easily Virtualize Ubuntu MATE on macOS With Multipass.adoc
  _posts/2020-09-19-Password-Less Sudo.adoc
  _posts/2020-09-22-Configure ZSH.adoc
  _posts/2020-10-01-Change Your Shell.adoc
  _posts/2020-10-03-Switch to fish.adoc
  _posts/2020-10-11-Pagers and Syntax Highlighting.adoc
  _posts/2020-10-26-Grow Disk Space on a CentOS 7 VM Using QEMU, LVM, and XFS.adoc
  _posts/2020-10-28-Build GCC From Source on CentOS 7.adoc
  _posts/2020-10-29-Fresh fish on CentOS 7.adoc
  _posts/2020-10-29-Install Git From Source on CentOS 7.adoc
  _posts/2020-11-01-Manage Python Dependencies.adoc
  _posts/2021-02-11-Btrfs Swapfile.adoc
  _posts/2021-02-22-Adjust Mount Options.adoc
  _posts/2021-02-22-Encrypt an External Disk on Linux.adoc
  _posts/2021-02-23-Install udisks2 From Source.adoc
  _posts/2021-02-27-Backup Snapper Snapshots With snap-sync.adoc
  _posts/2021-03-03-Install libvirt on elementary OS 5.1.adoc
  _posts/2021-03-04-GNOME Boxes on Btrfs.adoc
  _posts/2021-03-14-Translate Docker Compose to Kubernetes With Podman.adoc
  _posts/2021-03-17-Automatically Update Podman Containers.adoc
  _posts/2021-03-18-A Podman Pod as a systemd Service.adoc
  flake.nix
  lychee.toml
Due: just, yamllint

Add linkspector CI action
  .github/workflows/linkspector.yaml
  .linkspector.yml
Due: yamllint

Add awesome_bot
  Gemfile
  flake.nix
Due: none

Revert "Add linkspector CI action"
  .github/workflows/linkspector.yaml
  .linkspector.yml
Due: yamllint

Pass the --magic command to bundix for things to work
  .bundle/config
  .github/workflows/bundler-update.yaml
  .justfile
Due: just, yamllint

Use bundix --lock instead of --magic
  .bundle/config
  .github/workflows/bundler-update.yaml
  .justfile
Due: just, yamllint

Use awesome_bot
  .justfile
  Gemfile.lock
  gemset.nix
Due: just

Fix some links
  CODE_OF_CONDUCT.adoc
Due: none

Revert "Use awesome_bot"
  .justfile
  Gemfile.lock
  gemset.nix
Due: just

Don't override the shellHook
  flake.nix
Due: none

Verify links in the README files
  .github/workflows/link-checker.yaml
  .gitignore
  .justfile
  LICENSE.adoc
  flake.nix
Due: just, yamllint

Remove awesome_bot
  Gemfile
Due: none

Update webrick
  Gemfile
  Gemfile.lock
Due: none

Fix link
  README.adoc
Due: none
